/*Projects*/

.navbar-inverse {
  background-color: #36B0B5;
  border-color: #008C8B;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ddd;
}

.white-nav {
	color: white;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	background-color: #36B0B5;
	color: white;
}
